! Make Xft less bad
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Misc settings
URxvt*intensityStyles : false
URxvt*jumpScroll      : true
URxvt*saveLines       : 4096
URxvt*scrollBar       : false
URxvt*skipScroll      : false
URxvt.urgentOnBell    : false
URxvt*visualBell      : false
URxvt*internalBorder  : 0
URxvt*buffered        : false
URxvt*cursorColor: #A0A0A0
URxvt.cursorBlink: True

! Transparency
!URxvt*.transparent    : true
!URxvt*.shading        : 8
!URxvt*.tintColor      : white
Urxvt*depth            : 30
Urxvt*shading: 10

! Extensions
URxvt*perl-ext-common : default,matcher,clipboard
URxvt*matcher*button  : 1
URxvt*url-launcher    : firefox

URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

!URxvt.font: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!URxvt*boldFont: fonts

!URxvt.font: -*-gohufont-medium-*-normal-*-14-*-*-*-*-*-*-*
!URxvt*boldFont: -*-gohufont-medium-*-normal-*-14-*-*-*-*-*-*-*

!URxvt.font: -ypn-envypn-medium-*-*-*-15-*-*-*-*-*-*-1
!URxvt*boldFont: -ypn-envypn-medium-*-*-*-15-*-*-*-*-*-*-1

URxvt*font: -*-tamsyn-medium-*-*--15-*-*-*-*-*-*-1
URxvt*boldFont: -*-tamsyn-medium-*-*--15-*-*-*-*-*-*-1

!urxvt*font: -lokaltog-fixed-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*boldFont: -lokaltog-fixed-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*italicFont: -lokaltog-fixed-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -lokaltog-fixed-medium-r-normal-*-12-*-*-*-*-*-*-*


